.basket {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  background-size: contain;
  padding: 10px;
  margin: 0;

  &__list {
    position: relative;
  }

  &__clothe {
    top: 3%;
    right: 3%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
  }
  &__clothe:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff;
    transform: rotate(45deg);
    top: 45%;
    right: 0%;
  }
  &__clothe:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff;
    transform: rotate(-45deg);
    top: 45%;
    right: 0%;
  }
  &__sum {
    margin: 15px 0;
  }
  &__btn--favorite {
    position: absolute;
    bottom: 5%;
    right: 3%;
    object-fit: cover;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
}
